* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: globalFont;
  src: url('../assets/font/graphfont.ttf');
}

body {
  font-family: globalFont;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
