body {
  font-family: globalFont;
  background-image: url('../assets/img/bgimg.jpg');
}

#lead {
  display: flex;
  justify-content: center;
}
#pressX {
  position: fixed;
  top: 90%;
  font-size: 25px;
  color: white;
}
